In [1]:
# Data Set

data = [110, 105, 115, 120, 110, 130, 150, 100, 105]
type(data)

list

In [5]:
import pandas as pd
df = pd.DataFrame(data, columns=['price'])
df

   price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

### Task 01: Perform Mentioned Techniques:
#### Normalization <br>
#### Standardization <br>
#### Log Transformation <br>
#### Robust Scaler <br>
#### Max Absolute Scaler

### Normalization / min max scaler

In [11]:
min_price = df['price'].min()
max_price = df['price'].max()

In [12]:
min_price

100

In [13]:
max_price

150

In [15]:
df['price_norm_manual'] = (df['price'] - min_price ) / (max_price - min_price)

In [16]:
df

   price  price_norm_manual
0    110                0.2
1    105                0.1
2    115                0.3
3    120                0.4
4    110                0.2
5    130                0.6
6    150                1.0
7    100                0.0
8    105                0.1

In [17]:
from sklearn.preprocessing import MinMaxScaler
mmx = MinMaxScaler() #feature_range=(2,5)

In [18]:
df['price_norm_sklearn'] = mmx.fit_transform(df[['price']])

In [19]:
df

   price  price_norm_manual  price_norm_sklearn
0    110                0.2                 0.2
1    105                0.1                 0.1
2    115                0.3                 0.3
3    120                0.4                 0.4
4    110                0.2                 0.2
5    130                0.6                 0.6
6    150                1.0                 1.0
7    100                0.0                 0.0
8    105                0.1                 0.1

### Standardization / standard scaler

In [20]:
mean_price = df['price'].mean()
std = df['price'].std()

In [21]:
df['price_std_manual'] = (df['price'] - mean_price) / std

In [22]:
df

   price  price_norm_manual  price_norm_sklearn  price_std_manual
0    110                0.2                 0.2         -0.392544
1    105                0.1                 0.1         -0.713717
2    115                0.3                 0.3         -0.071372
3    120                0.4                 0.4          0.249801
4    110                0.2                 0.2         -0.392544
5    130                0.6                 0.6          0.892146
6    150                1.0                 1.0          2.176837
7    100                0.0                 0.0         -1.034890
8    105                0.1                 0.1         -0.713717

In [23]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()

In [24]:
df['price_std_sklearn'] = scaler.fit_transform(df[['price']])

In [25]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn
0,110,0.2,0.2,-0.392544,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701
3,120,0.4,0.4,0.249801,0.264954
4,110,0.2,0.2,-0.392544,-0.416356
5,130,0.6,0.6,0.892146,0.946264
6,150,1.0,1.0,2.176837,2.308884
7,100,0.0,0.0,-1.034890,-1.097666
8,105,0.1,0.1,-0.713717,-0.757011

In [26]:
std_dof = df['price'].std(ddof=0)

In [27]:
std_dof

14.677605348469896

In [28]:
std_dof1 = df['price'].std(ddof=1)
std_dof1

15.567951410224504

In [29]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn
0,110,0.2,0.2,-0.392544,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701
3,120,0.4,0.4,0.249801,0.264954
4,110,0.2,0.2,-0.392544,-0.416356
5,130,0.6,0.6,0.892146,0.946264
6,150,1.0,1.0,2.176837,2.308884
7,100,0.0,0.0,-1.034890,-1.097666
8,105,0.1,0.1,-0.713717,-0.757011

In [31]:
df['price_std_manual2'] = (df['price'] - mean_price) / std_dof1

In [32]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2
0,110,0.2,0.2,-0.392544,-0.416356,-0.392544
1,105,0.1,0.1,-0.713717,-0.757011,-0.713717
2,115,0.3,0.3,-0.071372,-0.075701,-0.071372
3,120,0.4,0.4,0.249801,0.264954,0.249801
4,110,0.2,0.2,-0.392544,-0.416356,-0.392544
5,130,0.6,0.6,0.892146,0.946264,0.892146
6,150,1.0,1.0,2.176837,2.308884,2.176837
7,100,0.0,0.0,-1.034890,-1.097666,-1.034890
8,105,0.1,0.1,-0.713717,-0.757011,-0.713717

In [33]:
df['price_std_manual3'] = (df['price'] - mean_price) / std_dof

In [34]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701
3,120,0.4,0.4,0.249801,0.264954,0.264954
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356
5,130,0.6,0.6,0.892146,0.946264,0.946264
6,150,1.0,1.0,2.176837,2.308884,2.308884
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011

### Log Transformation

In [35]:
from sklearn.preprocessing import FunctionTransformer
import numpy as np

In [36]:
fc = FunctionTransformer(np.log1p)
df['price_fc'] = fc.fit_transform(df[['price']])
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439

In [37]:
df['fc_np'] = np.log1p(df[['price']])

In [38]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc,fc_np
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590,4.753590
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791,4.795791
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197,4.875197
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280,5.017280
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121,4.615121
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439

### Max Absolute Scaler

In [39]:
from sklearn.preprocessing import MaxAbsScaler

In [40]:
mx = MaxAbsScaler()

In [41]:
df['mx_abs'] = mx.fit_transform(df[['price']])

In [42]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc,fc_np,mx_abs
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590,4.753590,0.766667
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791,4.795791,0.800000
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197,4.875197,0.866667
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280,5.017280,1.000000
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121,4.615121,0.666667
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000

###  Robust Scaler

In [44]:
from sklearn.preprocessing import RobustScaler
RoSc=RobustScaler()

In [45]:
df['rs_price'] = RoSc.fit_transform(df[['price']])

In [46]:
df

,price,price_norm_manual,price_norm_sklearn,price_std_manual,price_std_sklearn,price_std_manual2,price_fc,fc_np,mx_abs,rs_price
0,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333,0.000000
1,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000,-0.333333
2,115,0.3,0.3,-0.071372,-0.075701,-0.075701,4.753590,4.753590,0.766667,0.333333
3,120,0.4,0.4,0.249801,0.264954,0.264954,4.795791,4.795791,0.800000,0.666667
4,110,0.2,0.2,-0.392544,-0.416356,-0.416356,4.709530,4.709530,0.733333,0.000000
5,130,0.6,0.6,0.892146,0.946264,0.946264,4.875197,4.875197,0.866667,1.333333
6,150,1.0,1.0,2.176837,2.308884,2.308884,5.017280,5.017280,1.000000,2.666667
7,100,0.0,0.0,-1.034890,-1.097666,-1.097666,4.615121,4.615121,0.666667,-0.666667
8,105,0.1,0.1,-0.713717,-0.757011,-0.757011,4.663439,4.663439,0.700000,-0.333333

In [47]:
# export dataframe into Excel
df.to_excel('data/price.xlsx', index=False)